@{
    ViewBag.Title = "Registro8";
}

<div class="row">
    <div class="col-md-8">
        <h2>Fin de la encuesta</h2>
    </div>

    <div class="col-md-4">
        <div class="progress" style="margin:40px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                100%
            </div>
        </div>
    </div>
</div>

@using (@Html.BeginForm("Registrar9", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="pregunta">
            <h3>
                Subir 3 fotos:
            </h3>
            <div class="opcion">
                <input type="file" name="foto1" accept="image/*" onchange="readURL(this);" />
                <img id="foto1" src="#"  />
            </div>
            @*<div class="opcion">
                <input type="file" name="foto2" accept="image/*" />
            </div>
            <div class="opcion">
                <input type="file" name="foto3" accept="image/*" />
            </div>*@
        </div>

        <div class="col-md-offset-8">
            <input type="submit" value="Finalizar" />
        </div>
    </div>
}

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#foto1')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>